include doc/Makefile
include doc/make.bat
include doc/source/*.*
include doc/source/_static/*.*
include doc/source/_template/*.*
include tests/test_data/*/*
include syntax_highlight/jEdit/*.*
include filterpype/pypes/*.pype
include *.py
include requirements.txt
include CHANGES
include LICENSE
include README.rst
include TODO
exclude lextab.py
exclude parsetab.py
exclude .bzr
exclude build
exclude dist
exclude nosetests.xml
exclude coverage.xml
exclude tests/test_data/tst_data3/file_data1.dat
exclude tests/test_data/tst_data3/file_data2.dat
exclude tests/test_data/tst_data5/hello.txt
exclude tests/test_data/tst_data5/short.dat
exclude tests/test_data/tst_data5/short.tmp.bz2
exclude tests/test_data/tst_data5/short.tmp.new
exclude tests/test_data/tst_data5/short2.dat
exclude tests/test_data/tst_data5/short2.out
exclude tests/test_data/tst_data5/short_tst3.dat
exclude tests/test_data/tst_data5/short_tst3.dat.bz2
exclude tests/test_data/tst_data5/some_file-tmp.dat
